[Unit]
Description=USB Temperature Alert Logger
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/%i/git/temperaturealert/main.py
WorkingDirectory=/home/%i/git/temperaturealert
Restart=on-failure
RestartSec=10
User=%i
SupplementaryGroups=dialout

[Install]
WantedBy=multi-user.target
